PORT=3000
DB_HOST=db
DB_USER=gor_user
DB_PASSWORD=gor_password
DB_NAME=gor_booking
DB_PORT=3306
JWT_SECRET=supersecretkey12345
GOR_PRICE_PER_HOUR=100000

# Email SMTP Settings (Nodemailer - Example for Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_16_character_google_app_password
SMTP_SECURE=false
SMTP_FROM="GOR Perum Jasa Tirta II <your_gmail_address@gmail.com>"

